main.edit-wrapper {
  min-width: 800px;
  flex-grow: 1;
  padding-bottom: 20px;
}

.edit-area {
  border-radius: 20px;
  background-color: rgba(33, 33, 33, 0.7);
  padding: 20px;
}

.edit-ctn-tools {
  justify-content: space-between;
  input {
    // width: 50%;
    flex-grow: 1;
    padding-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
  }
}

.edit-group-tools {
  gap: 5px;
  img {
    width: 35px;
    height: 35px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #aaaaaa;
    }
  }
  div {
    font-size: 14px;
    color: white;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin: auto;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  & div:nth-child(5) {
    background-color: transparent;
    &:hover {
      background-color: red;
    }
  }
  & div:nth-child(6) {
    background-color: #263935;
    &:hover {
      background-color: #3b5953;
    }
  }
}

.edit-ctn-noteContent {
  background-color: rgba(22, 22, 22, 0.6);
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
}
.noteContent-tools {
  width: 270px;
  background-color: #333333;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;

  img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  div {
    border-left: 2px solid #aaaaaa;
    margin-inline: 8px;
  }
}
.edit-itme-noteContent {
  padding: 20px;
  flex-direction: column;
  gap: 15px;
  textarea {
    display: block;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 20px;
    color: white;
    line-height: 1.5;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  & textarea:nth-child(2) {
    height: calc(100vh - 423px);
  }

  & textarea:nth-child(3) {
    height: 100px;
  }
}

.question-box {
  h3 {
    color: #999999;
    font-size: 20px;
  }
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    padding: 5px;
    margin-top: 10px;
  }
}
