<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/nodes-colorful.png" />
    <link rel="stylesheet" href="/style/note/note-base.css" />
    <link rel="stylesheet" href="/style/note/style.css" />
    <link rel="stylesheet" href="/style/note/customizedTuiEditor.css">
    <title>Note</title>
  </head>
  <body>
    <div class="wrapper">
<!--      產生一個表單-->
      <header>
        <div class="topBarLeft">
          <div id="hamburger" class="js_display_sidebar_btn">
            <img src="/icons/hamburger.png" alt="hamburger" />
          </div>
        </div>

        <div class="topBarMid">
          <p class="noteName js_note_name" contenteditable="true"></p>
        </div>
        <div class="topBarRigth">
          <div class="noteTagBtn js_note_tags_btn">
            <img src="/icons/tag-yellow.png" alt="tag" />
            <p>Add tag</p>
          </div>
          <div class="tagForm display-none js_note_tag_form">
            <h5>Add tags to this note</h5>
            <div class="tagCtn js_note_tag_ctn">
              <div class="noTag js_none_tag">
                <p>None</p>
              </div>
            </div>
          </div>
          <div class="collaboratorBtn js_collaborator_btn">
            <img src="/icons/collaborators.png" alt="collaborators" />
          </div>
          <div class="collaboratorCtn js_collaborator_ctn display-none">
            <div class="owner">
              <p class="title">Owner</p>
              <div class="js_owner_name_ctn flex">
                <p class="offline js_status_point status_point"></p>
                <p class="user js_owner_name"></p>
              </div>
            </div>
            <div class="collaborators">
              <p class="title">Collaborators</p>
            </div>
          </div>

          <div class="deleteNoteBtn js_delete_note_btn">
            <img src="/icons/trash-white.png" alt="trash" />
          </div>
        </div>
      </header>
      <div class="sideBarWrapper">
        <section class="sideBar">
          <a id="linkNoteBtn" class="js_notebook_navigate_btn" href="/notebooks">LinkNote</a>
          <div id="hiddenSideBarBtn" class="js_hidden_sideBar_btn">
            <img src="/icons/hamburger.png" alt="hamburger" />
          </div>
          <div class="searchNote">
            <input type="text" placeholder="Search note" class="js_search_note_input"/>
            <img src="/icons/search.png" alt="search" class="js_search_note_btn" />
          </div>
          <div class="noteCtn">
            <div class="noteCtnTop">
              <h3 class="notebookName"></h3>
              <div class="sideBarBtnArea">
                <div class="createNoteBtn js_create_note_btn">
                  <p class="no-select">New</p>
                </div>
                <div class="filter js_filter_btn">
                  <img class="no-select" src="/icons/filter.png" alt="filter" />
                  <p class="no-select">Filter</p>
                </div>
                <div class="filterCtn display-none js_filter_ctn">
                  <div class="allNoteBtn filterBtn js_all_note_btn">
                    <img src="/icons/notes.png" alt="notes" />
                    <p>All notes</p>
<!--                    <img-->
<!--                      class="filterCheck display-none"-->
<!--                      src="/icons/check.png"-->
<!--                      alt="check"-->
<!--                    />-->
                  </div>
                  <div class="starBtn filterBtn js_star_note_btn">
                    <img src="/icons/full-star.png" alt="notes" />
                    <p>Star</p>
                    <img
                      class="filterCheck display-none"
                      src="/icons/check.png"
                      alt="check"
                    />
                  </div>
                  <div class="sortBtn filterBtn js_sort_note_btn">
                    <img src="/icons/clock.png" alt="notes" />
                    <p>Sort By Time</p>
                    <img
                      class="filterCheck display-none"
                      src="/icons/check.png"
                      alt="check"
                    />
                  </div>
                </div>
                <div class="notebookTagBtn js_notebook_tags_btn">
                  <img class="no-select" src="/icons/tag-yellow.png" alt="tag" />
                </div>
                <div class="notebookTagCtn display-none js_notebook_tags_ctn">
                  <p class="title">Tags</p>
                  <div class="tagArea js_tag_area"></div>
                  <div class="createTagForm">
                    <input
                      type="text"
                      id="newTag"
                      placeholder="Craete new tag"
                      class="js_create_tag_input"
                    />
                    <div id="createTagBtn" class="js_create_tag_btn">
                      <p>Create</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="noteArea"></div>
          </div>
          <div class="sideBarBottom">
            <div class="userEmail">
              <p class="js_user_email"></p>
            </div>
            <div class="signoutBtn js_signOut_btn">
              <img src="/icons/signout.png" alt="signout" />
              <p>SignOut</p>
            </div>
          </div>
        </section>
      </div>
      <main>
        <form id="noteForm" class="noteForm js_note_form" style="width: 300px; height: 300px">
          <label for="textInput">Note Name</label>
          <input type="text" id="textInput" name="textInput" class="js_textInput">
          <div class="submitText">SendMsg</div>
          <div class="msgBoard"></div>
        </form>
        <div class="js_tui_editor" id="editor"></div>
      </main>
    </div>
    <script src="/js/dist/note.bundle.js"></script>
  </body>
</html>
