<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style/base/base.css" />
    <link rel="stylesheet" href="/style/notebook/style.css" />
    <link rel="icon" href="/icons/nodes-colorful.png" />
    <title>notebook</title>
  </head>
  <body>
    <div class="wrapper flex">
      <section class="sideBar">
        <h1 class="display-none">Linknote</h1>
        <div class="sideBar-welcome">
          <div class="welcome-username">
            <img src="/icons/person-black.png" alt="person-black" />
            <p class="no-select">Hi <span id="username"></span></p>
          </div>
          <h2 class="no-select">Welcome to LinkNote!</h2>
        </div>
        <button id="createNotebookBtn" class="no-select js_create_notebook_btn">+ New Notebook</button>

        <div class="sideBarBtnArea">
<!--          mynotebook 按鈕-->
          <div class="sideBarMyNotebookArea ">
            <div class="sideBarBtn no-select notebookGroup js_sideBar_myNotebook_btn">
              <div class="myNotebookBtn">
                <img src="/icons/person-white.png" alt="person-white" />
                <p>My Notebooks</p>
              </div>

              <!-- <div id="myNotebookExtendBtn" class="extendBtn"></div> -->
            </div>
            <div class="notebooksCtn scroll js_sideBar_ownerNotebookBtn_Ctn" id="sideBar-myNotebookBtnCtn">

            </div>
          </div>
<!--          coNotebook 按鈕-->
          <div class="sideBarCoNotebookArea">
            <div class="sideBarBtn no-select notebookGroup js_sideBar_coNotebook_btn">
              <div class="coNotebookBtn">
                <img src="/icons/collaborators.png" alt="person-white" />
                <p>Collaborative Notebooks</p>
              </div>
              <!-- <div id="coNotebookExtendBtn" class="extendBtn"></div> -->
            </div>
            <div class="notebooksCtn scroll js_sideBar_coNotebookBtn_Ctn" id="sideBar-coNotebookBtnCtn">
              <!-- <div class="loader sideBarLoader"></div> -->
            </div>
          </div>
<!--           invitation 按鈕-->
          <div class="sideBarBtn no-select invitationsBtn js_invitations_btn">
            <img
              src="/icons/notebook.png"
              alt="Collaborative Notebooks
              Management"
            />
            <p>Invitations Management</p>
          </div>
<!--           setting 按鈕-->
          <div class="sideBarBtn no-select settingBtn js_setting_btn">
            <img src="/icons/setting.png" alt="setting" />
            <p>Setting</p>
          </div>
        </div>

        <div class="sideBarBottom">
          <div class="userEmail sideBarBottomBlock no-select">
            <p id="userEmail"></p>
          </div>
<!--            登出按鈕-->
          <div class="signoutBtn sideBarBottomBlock no-select">
            <p>SignOut</p>
          </div>
        </div>
      </section>
      <main>
        <div class="mainWrapper">

<!--          新增notebook表單-->
          <section class="createNotebookWrapper js_create_notebook_wrapper display-none">
            <h3>Create Notebook</h3>
            <div class="createNotebookForm">
              <div class="inputs">
                <label for="notebookName">Notebook Name</label>
                <input
                    type="text"
                    name="notebookName"
                    id="notebookName"
                    class="js_new_notebook_name_input"
                    placeholder="Name"
                />
                <label for="description">Description (Optional)</label>
                <input
                    type="text"
                    name="description"
                    id="description"
                    class="js_new_notebook_description_input"
                    placeholder="What is the purpose of the notebook?"
                />
                <label for="tag">Tags</label>
                <div class="tagInput">
                  <input type="text" name="tag" id="tag" class="js_new_tag_input" placeholder="Tag Name" />
                  <button id="addTag" class="js_add_tag_btn">Add</button>
                </div>
                <div class="tags"></div>
              </div>

              <div class="flex createNotebookBtns">
                <div id="cancel" class="no-select js_cancel_create_notebook_btn">Cancel</div>
                <div id="submit" class="js_create_notebook_submit_btn no-select">Submit</div>
              </div>
            </div>
          </section>
<!--          myNotebook筆記區域-->
          <section class="notebookArea scroll js_myNotebook_area display-none">
<!--            沒有筆記本則顯示此區塊-->
            <div class="initNotebookWrapper js_init_create_notebook_wrapper">
              <div class="initNotebookWrapper">
                <div class="initNotebookCtn">
                  <img
                      src="/icons/create-notebook.png"
                      alt="create-notebook"
                  />
                  <div class="initCreateNotebookGroup">
                    <h4>Create your first notebook!</h4>
                    <div class="initBtns">
                      <div id="initCreateNotebookBtn" class="no-select js_init_create_notebook_btn">
                        Create notebook
                      </div>
                      <a href="https://hackmd.io/@LOtWlaEIRmi4AiNBq38_tA/rJTPVQgs0" target="_blank＠" id="tutorials" class="no-select">Tutorials</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--            notebook頂端搜尋區-->
            <div class="notebooksTop js_myNotebook_top">
              <h3>My Notebook</h3>
              <div class="search js_search_owner_notebook">
                <input type="text"  placeholder="search notebook"/>
                <img src="/icons/search.png" alt="search"/>
              </div>
            </div>
            <div class="notebookCtn js_owner_notebook_ctn"></div>
          </section>
<!--          collaborative notebooks 區域-->
          <section class="notebookArea scroll js_coNotebook_area display-none">
            <div class="notebooksTop js_coNotebook_top">
              <h3>Collaborative Notebook</h3>
              <div class="search js_search_collaborate_notebook">
                <input type="text" placeholder="search notebook"/>
                <img src="/icons/search.png" alt="search"/>
              </div>
            </div>

            <div class="none js_none_collaborative_notebook">There is no notebooks.</div>
            <div class="notebookCtn js_collaborative_notebook_ctn"></div>
          </section>
          <section class="notebookArea js_specific_owner_notebook_area display-none scroll">

          </section>
          <section class="notebookArea js_specific_collaborative_notebook_area display-none scroll">

          </section>
<!--          邀請表單-->
          <section class="invitationWrapper js_invitation_wrapper display-none">
            <section class="invitationTable" id="receivedInvitationTable">
              <h4>Pending Received Invitations</h4>
              <table id="received-table" class="js_received_table">
                <tr id="received-none" class="js_received_none">
                  <th>none</th>
                </tr>
                <tr  id="received-header" class="js_received_header display-none" >
                  <th>Inviter</th>
                  <th>Notebook Name</th>
                  <th>Create Date</th>
                  <th>Message</th>
                  <th>Confirm</th>
                </tr>
              </table>
            </section>
            <section class="invitationTable" id="sentInvitationTable">
                <h4>Pending Sent Invitations</h4>
                <table id="sent-table" class="js_sent_table">
                  <tr id="sent-none"  class="js_sent_invitation_none">
                    <th>none</th>
                  </tr>
                  <tr  id="sent-header" class="js_sent_invitation_header display-none" >
                    <th>Invitee</th>
                    <th>Notebook Name</th>
                    <th>Create Date</th>
                    <th>Message</th>
                    <th>Confirm</th>
                  </tr>
                </table>
              </section>
            </section>
<!--          更新使用者資訊表單-->
          <section class="userProfileWrapper js_user_profile_wrapper display-none">
            <h4>Member Profile</h4>
            <div class="userProfileForm">
              <div class="userProfile">
                <p class="title">Email</p>
                <p id="js_setting_email"></p>
              </div>
              <div class="userProfile">
                <label class="title" for="setting_username">Username</label>
                <input type="text" name="" id="setting_username" class="js_setting_username" value="" />
              </div>
              <div class="userProfile">
                <label class="title" for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="js_setting_password"
                    placeholder="password"
                />
              </div>
              <button id="userProfileBtn" class="js_update_user_profile_btn">Save</button>
            </div>
          </section>
        </div>
      </main>
    </div>

<!--    <script src="/base/js/Authentication.js"></script>-->
<!--    <script src="/base/js/FetchData.js"></script>-->
<!--    <script src="/base/js/Validator.js"></script>-->
<!--    <script src="/base/js/DeleteAlert.js"></script>-->
<!--    <script src="/notebook/js/ReRenderElement.js"></script>-->
<!--    <script src="/notebook/js/createNotebook.js"></script>-->
<!--    <script src="/notebook/js/NotebookRender.js"></script>-->
<!--    <script src="/notebook/js/sideBar.js"></script>-->
<!--    <script src="/base/js/Message.js"></script>-->

    <script src="/js/dist/notebook.bundle.js"></script>
  </body>
</html>
