.nav {
  padding: 10px;
  cursor: pointer;
  gap: 5px;
  img {
    display: block;
    width: 45px;
    height: 45px;
  }
  h1 {
    margin: auto 0;
    color: #2f403d;
    font-size: 35px;
    font-weight: 700;
  }
}
