services:
    springboot:
        container_name: ${PROJECT_NAME}_springboot
        build:
            context: ../BE
            dockerfile: Dockerfile
        ports:
            - "${BACKEND_PORT}:${BACKEND_PORT}"
            - "${DEBUG_PORT}:${DEBUG_PORT}"
        environment:
            - POSTGRES_HOST=${POSTGRES_HOST}
            - POSTGRES_PORT=${POSTGRES_PORT}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - BACKEND_PORT=${BACKEND_PORT}
            - PROJECT_NAME=${PROJECT_NAME}
            - JWT_SECRET=${JWT_SECRET}
        volumes:
            - ../BE/SpringBoot/target:/app
        networks:
            project_net:
                ipv4_address: ${BACKEND_HOST}
    nuxt:
        container_name: ${PROJECT_NAME}_nuxt
        build:
            context: ../FE
            dockerfile: Dockerfile
        ports:
            - "${FRONTEND_PORT}:${FRONTEND_PORT}"
        environment:
            - API_URL=${API_URL}
            - AUTH_API_BASE=${AUTH_API_BASE}
            - RESOURCE_API_BASE=${RESOURCE_API_BASE}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_USERNAME=${REDIS_USERNAME}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - REDIS_DB=${REDIS_DB}
        volumes:
            - ../FE/Nuxt:/app
            # 匿名 volume，在本機的/var/lib/docker/volumes/<隨機字串>/_data中
            # 避免 Mac 和 Linux npm平台問題
            - /app/node_modules
        networks:
            project_net:
                ipv4_address: ${FRONTEND_HOST}

    nginx:
        container_name: ${PROJECT_NAME}_nginx
        image: nginx:alpine
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - "./nginx/conf.d:/etc/nginx/conf.d"
            - "./nginx/ssl:/etc/nginx/ssl"
        # 需要指定服務名稱，不能指定容器名稱
        depends_on:
            - springboot
            - nuxt
        networks:
            project_net:
                ipv4_address: ${NGINX_HOST}
networks:
    project_net:
        name: ${PROJECT_NAME}_net
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: ${DOCKER_NETWORK}
