.collaboratorCtn {
  width: 200px;
  overflow: hidden;
  padding: 2px 5px 5px 5px;
  background-color: #333;
  border-radius: 5px;
  border: 2px solid #666;
  position: absolute;
  top: 36px;
  right: 40px;
  z-index: 20;
  .user {
    color: white;
    padding: 3px 20px 3px 5px;
    font-weight: 500;
    font-size: 14px;
  }
}

.status_point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 11px;
}
.collaboratorCtn .online {
  background-color: green;
}

.collaboratorCtn .offline {
  background-color: #666666;
}

.owner .title {
  font-weight: 700;
  font-size: 16px;
  color: #999;
}

.collaborators .title {
  font-weight: 700;
  font-size: 16px;
  color: #999;
}

.collaboratorCtn .user {
  position: relative;
  left: 20px;
}
