main {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainWrapper {
  width: calc(100vw - 260px);
  height: 100vh;
  position: relative;
  background-color: rgba(44, 44, 44, 0.5);
}
